{
  "openapi": "3.0.1",
  "info": {
    "title": "MonitorFlow API",
    "description": "MonitorFlow's REST API for event monitoring and notification management",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.monitorflow.com/v1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/events": {
      "post": {
        "description": "Send a new event to MonitorFlow for monitoring",
        "requestBody": {
          "description": "Event details",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewEvent"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Event successfully created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Event"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/events/{id}": {
      "get": {
        "description": "Retrieve a specific event by ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Event ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Event details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Event"
                }
              }
            }
          },
          "404": {
            "description": "Event not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Event": {
        "type": "object",
        "required": [
          "id",
          "eventType",
          "timestamp"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the event"
          },
          "eventType": {
            "type": "string",
            "description": "Type of the event (e.g., user.created, payment.failed)"
          },
          "data": {
            "type": "object",
            "description": "Additional data associated with the event"
          },
          "priority": {
            "type": "string",
            "enum": ["low", "medium", "high", "critical"],
            "default": "medium",
            "description": "Priority level of the event"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 formatted timestamp"
          }
        }
      },
      "NewEvent": {
        "type": "object",
        "required": [
          "eventType"
        ],
        "properties": {
          "eventType": {
            "type": "string",
            "description": "Type of the event (e.g., user.created, payment.failed)"
          },
          "data": {
            "type": "object",
            "description": "Additional data associated with the event"
          },
          "priority": {
            "type": "string",
            "enum": ["low", "medium", "high", "critical"],
            "default": "medium",
            "description": "Priority level of the event"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 formatted timestamp"
          }
        }
      },
      "Error": {
        "type": "object",
        "required": [
          "error",
          "message"
        ],
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32",
            "description": "Error code"
          },
          "message": {
            "type": "string",
            "description": "Error message"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key authentication"
      }
    }
  }
}